.Options {
    background-color: white;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #B1B2FF;
    margin: 20px 0px 0px 40px;
}

.liked {
    background-color: #EEF1FF;
    border: 2px solid #B1B2FF;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-right: 5px;
}

.liked:hover {
    cursor: pointer;
} 

.reset {
    background-color: #EEF1FF;
    border: 2px solid #B1B2FF;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.reset:hover {
    cursor: pointer;
} 

.section {
    font-size: 23px;
    margin-bottom: 5px;
}

.title {
    margin-bottom: 3px;
}

.selection {
    margin-bottom: 8px;
}

.favorites {
    margin-bottom: 8px;
}